@import 'tailwindcss';

@layer base {
	:root {
		--radius: 0.5rem;

		--link: hsl(205 60% 50%);
	}

	.dark {
		--background: hsl(220 10% 4%);
		--foreground: hsl(220 10% 90%);

		--primary: hsl(215 25% 40%);
		--primary-foreground: hsl(220 10% 95%);
		--primary-muted: hsl(215 25% 32%);

		--secondary: hsl(220 12% 13%);
		--secondary-foreground: hsl(220 10% 80%);

		--destructive: hsl(0 35% 40%);
		--destructive-foreground: hsl(220 10% 95%);

		--muted-darker: hsl(240 5% 8%);
		--muted: hsl(220 12% 12%);
		--muted-foreground: hsl(220 10% 60%);
		--muted-lighter: hsl(220 10% 14%);

		--accent: hsl(210 20% 25%);
		--accent-foreground: hsl(220 10% 95%);

		--border: hsl(220 12% 15%);
	}

	.light {
		--background: hsl(210 20% 97%);
		--foreground: hsl(220 18% 18%);

		--primary: hsl(215 70% 72%);
		--primary-foreground: hsl(220 20% 10%);
		--primary-muted: hsl(215 40% 85%);

		--secondary: hsl(210 20% 94%);
		--secondary-foreground: hsl(220 15% 28%);

		--destructive: hsl(0 65% 70%);
		--destructive-foreground: hsl(0 0% 15%);

		--muted-darker: hsl(210 15% 80%);
		--muted: hsl(210 20% 88%);
		--muted-foreground: hsl(220 12% 35%);
		--muted-lighter: hsl(210 25% 96%);

		--accent: hsl(215 65% 65%);
		--accent-foreground: hsl(220 15% 8%);

		--border: hsl(210 15% 85%);
	}
}

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--color-background: var(--background);
	--color-foreground: var(--foreground);

	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary-muted: var(--primary-muted);

	--color-muted-darker: var(--muted-darker);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted-lighter: var(--muted-lighter);

	--color-border: var(--border);
	--color-link: var(--link);
	/* --color-card: var(--card); */

	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);

	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
}

body {
	background: var(--background);
	color: var(--foreground);
}

button {
	cursor: pointer;
}

button:disabled {
	cursor: not-allowed;
}

* {
	overscroll-behavior: none;
}

.input {
	@apply focus:ring-2 focus:ring-primary focus:outline-none;
}
